body {
    background-color: #1b1b1b;
    font-family: Arial, sans-serif;
}

h1 {
    font-size:5vw;
    color: #c5c5c5;
    text-align: center;
}

p,th,td {
    /*font-size: 18px;*/
    line-height: 1.6;
    color: #868282;
    padding: 10px;
}

td {
    border: 1px solid;
}

.category {
    font-size: 22px;
    font-weight: bold;
}

.container {
    margin: auto;
    max-width:100%;
    padding: 10px;
    color:#868282;
}

.button {
    background-color: #c5c5c5;
    border-radius: 5px;
    border: none;
    padding: 5px;
    text-align: center;
}