<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <title>yTuner Interface</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <h1>yTuner Categories</h1>
    <p>remember to add setting of new file path</p>
    <div class="container">
      <table id="bigTable"></table>
    </div>
    <form action="http://localhost:8000/refresh" method="get">
      <p>Enter Name:</p>
      <p><input type="text" name="nm" /></p>
      <p><input type="submit" value="submit" /></p>
    </form>
  </body>
</html>
