<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <title>yTuner Interface</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <h1>yTuner Categories</h1>
    <div class="container" id="pathContainer">
      <input
        type="button"
        class="button"
        onclick="openPathDialog()"
        value="set file path"
      />
      <div id="pathPopUp" class="container"></div>
    </div>
    <div class="container">
      <table id="bigTable"></table>
    </div>
  </body>
</html>
